.page {
    padding: 20px 0 0 0;
}

.main-expr__input_equal {
    text-align: left;
    width: 35px;
    font-size: 31px;
    font-family: sans-serif;
    border: 1px solid #000;
}

.main-expr {
    text-align: center;
    font-size: 35px;
}

.main-expr__input {
    border-radius: 6px;
    padding: 2px 5px;
    display: inline-block;
    vertical-align: top;
}

.main-expr-line {
    text-align: center;
    width: 700px;
    margin: 0 auto;
    padding-top: 200px;
}

.main-expr-line-sprite__image {
    width: 100%;
}

.main-expr-line__arcs {
    position: relative;
}

.main-expr-line-arcs__item {
    height: 75px;
    overflow: hidden;
    position: absolute;
    width: 58px;
    bottom: -5px;
    left: 0;
    transition: width 1200ms;
}

.main-expr-line-arcs__line {
    display: block;
    border-radius: 50%;
    border: 1px solid #000;
    position: absolute;
    left: 27px;
    bottom: -70px;
    width: 31px;
    height: 105px;
    transition: width 1200ms;
}

.main-expr-line-arcs__item_second {
    display: none;
}

.main-expr-line-arcs-input {
    text-align: center;
}

.main-expr-line-arcs-input__field {
    width: 11px;
    font-size: 20px;
    padding: 2px 5px;
    border-radius: 6px;
    border: 1px solid #000;
    margin-left: 15px;
}

.errorClass {
    background: #e2001a;
}

.emptyInput {
    background: transparent;
    border: none;
    color: #000;
};